@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    /* background-color: whitesmoke; */
    
}
.navBar{
    display: flex;
    justify-content: space-around;
}
.listItem{
    display: inline;
    
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: orange;
    border-radius: 10px;
}
body,
html{
    font-family: "Manrope", sans-serif;
    color: #8480ae;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}
.welcome{
    position: relative;
    
}
.imgCircle{
    position: absolute;
    right: 10%;
}