@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*{
    margin: 0;
    padding: 0;
    /* background-color: whitesmoke; */
    
}
.navBar{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}
.listItem{
    display: inline;
    margin-left: 30px;
    font-weight: bold;
    color: rgb(3, 3, 119);
}
.btn{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: orange;
    border-radius: 10px;
    margin-left: 420px;
    font-weight: bold;
    color: rgb(3, 3, 119);
}
body,
html{
    font-family: "Manrope", sans-serif;
    color: #8480ae;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.welcome{
    position: relative;
    width: 100%;
    height: 100vh;
}
.imgCircle{
    position: absolute;
    right: -5%;
    top: 10%;
    width: 50%;
    /* border: 1px solid; */
}
.introText{
    /* border: 1px solid; */
    width: 50%;
    position: absolute;
    top: 25%;
    left: 8%;
}
.introText h1{
    font-size: 60px;
    color: rgb(3, 3, 119);
    margin-bottom: 10px;
}
.btnGet{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgb(32, 65, 251);
    color: white;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
}
.introText a{
 text-decoration-color: tomato;
 color: tomato;
 font-weight: bold;
}
.pills{
    height: 75vh;
    background-color: rgb(240, 242, 244);
    position: relative;
    display: flex;
}
.pillOne{
    height: 300px;
    position: absolute;
    top: 10%;
    right: 35%;
}
.pillTwo{
    height: 250px;
    position: absolute;
    top: 25%;
    right: 21%;
}
.pillThree{
    height: 300px;
    position: absolute;
    right: 5%;
    top: 10%;
}
.divA{
    position: absolute;
    top: 20%;
    left: 8%;
}
.divA h1{
    font-size: 40px;
    color: rgb(3, 3, 119);
    margin-bottom: 10px;
}
.join{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(32, 65, 251);
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}